/* une police google font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* une police embarquée dans le projet */
@font-face {
    font-family: "reey" ;
    src: url(./fonts/reey-regular.woff);
}


section {
    width: 400px;
    height: 400px;
    background-image: url(./images/08.png);
    background-size: cover;
    text-align: center;
    /* padding-top crée un espace interne qui pousse le contenu vers le bas */
    padding-top: 20px;
    /* contournement qui empêche la dilatation des dimensions d'un élément */
    box-sizing: border-box;
}

section h1 {
    /*  reset de marges à 0 */
    margin: 0;
    font-size: 40px;
    font-family: "reey" ;
    color: rgb(255, 179, 0);
    /*  créer une notion de calque */
    position: relative;
}

section h2 {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    line-height: 1;
}